body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: +5;
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 2px, 8px, 5px, 8px gray;
    flex-wrap: wrap;
    box-shadow: 0px 0.5px 3px gray;
}

.logo {
    background-image: url("./logo.jpg");
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    flex-wrap: wrap;
}

.navbar1 {
    display: flex;
}

.nav-1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 4rem;
    font-family: sans-serif;

}

.nav-1 a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    padding: 5px 20px;
    font-size: 20PX;
    font-weight: bold;
    border-radius: 4px;
}

.nav-1 a:hover {
    color: white;
    background-color: rgb(141, 65, 235);
}

.button {
    margin-top: 11px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    height: 60%;
    border: none;
    font-weight: bold;
    flex-wrap: wrap;
    background: none;
}

.about {
    margin-left: 17rem;
    width: 120px;
}

button>a {
    display: inline-block;
    height: 74%;
    width: 100%;
    text-decoration: none;
    padding-top: 10px;
    border-radius: 4px;
    background-color: rgba(142, 65, 235,1);
    color: #000;
}

button>a:hover {
    color: white;
    background-color: rgb(136, 5, 251);
}

.nav-element {
    text-align: center;
}
.nav-element>a{
   margin-left: 4rem;
}
.nav-element:hover {
    transition: 1s ease-in-out;
}
.section1 {
    width: 100vw;
    height: 500px;
}

.section2 {
    display: flex;
    justify-content: space-around;
    height: 70vh;
    padding-top: 5%;
}

.section2>h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 80px;
    left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 2px grey;
    cursor: context-menu;
}

#about {
    width: 70%;
    height: 70%;
}

#logo-div {
    width: 40%;
    background-color: white;
    opacity: .7;
}

#logo {
    height: 100%;
    border-radius: 10% 0% 10% 0%;
}

#logo:hover {
    height: 105%;
}

#about {
    height: 100px;
    width: 50vw;
}

#about>h1:hover {
    color: blue;
}

#about>h1 {
    font-size: 50px;
    position: relative;
    left: 250px;
}

#about>p {
    font-size: 20px;
    text-align: justify;
}

.section3 {
    width: 100vw;
    height: 100vh;
}

.a {
    display: flex;
    justify-content: space-around;
}

.a1 {
    height: 330px;
    width: 250px;
    background-color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px 10px 10px 10px;
    border-style: 3px solid white;
    box-shadow: 1px 1px 1px 1px black;
    transition: 1s;
}

.a1:hover {
    transform: scale(1.1);
}

img {
    border-radius: 10px 10px 10px 10px;
}

.sa {
    font-size: 25px;
    margin-left: 20px;
    font-weight: 80;
}

.sa:hover {
    color: blue;
}

.a2 {
    height: 330px;
    width: 250px;
    background-color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px 10px 10px 10px;
    border-style: 3px solid white;
    box-shadow: 1px 1px 1px 1px black;
    transition: 1s;
}
.a2:hover{
    transform: scale(1.1);
}

.a3 {
    height: 330px;
    width: 250px;
    background-color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px 10px 10px 10px;
    border-style: 3px solid white;
    box-shadow: 1px 1px 1px 1px black;
    transition: 1s;
}
.a3:hover{
    transform: scale(1.1);
}

.a4 {
    height: 330px;
    width: 250px;
    background-color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px 10px 10px 10px;
    border-style: 3px solid white;
    box-shadow: 1px 1px 1px 1px black;
    transition: 1s;
}
.a4:hover{
    transform: scale(1.1);

}

.section3>h2 {
    margin-left: 500px;
    font-size: 50px;
}

.section4 {
    width: 100vw;
    height: 60vh;
    font-weight: 80;
    background-color: rgba(23, 84, 163, 0.4);
    color: white;
}

.c>h3 {
    position: relative;
    top: 15px;
    left: 20px;
}

li {
    list-style: none;
    font-weight: 80;

}

.d>h3 {
    position: relative;
    left: 45px;
    font-size: 30px;
}

.section5 {
    display: flex;
    justify-content: space-around;
}

.e>h3 {
    position: relative;
    left: 45px;
    font-size: 30px;
}

.f>h3 {
    position: relative;
    left: 45px;
    font-size: 30px;
}

.ab {
    margin-left: 10px;
}
#back{
    position: fixed;
    left: 40px;
    top: 85vh;
}
#back>i{
    margin-top: 12px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(125, 17, 240);
    text-align: center;
    padding: 20px;
}